[Unit]
Description=rts
After=network.target

[Service]
Type=simple
User=rts
WorkingDirectory=/home/rts/Overlord
ExecStart=sudo python3 /home/rts/Overlord/client.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
